.wrapper {
    display: grid;
    grid-template-columns: 1fr 1fr;
    height: 100%;
}

.titleColumn {
    background: #FEECFB;
    padding: 120px 80px;
}

.formColumn {
    background: #FFF;
    padding: 120px;
}
