.label {
  display: flex;
  align-items: center;
  cursor: pointer;
}

.checkbox {
  box-shadow: var(--inputBoxShadow);
  color: var(--textColor);
  background: var(--inputBackground);
  width: 24px;
  height: 24px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 6px;
  outline: none;
  border: none;
  margin-right: 8px;
  cursor: pointer;
}

.checkbox:hover {
  box-shadow: var(--inputBoxShadowHover);
}

.checkbox[data-state="checked"] {
  background: var(--inputBackgroundSelected);
  color: #FFF;
}
