.basicDetails {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 24px;
}

.form {
    display: flex;
    flex-direction: column;
    gap: 24px;
}

.buttonRow {
    display: grid;
    grid-template-columns: 140px 1fr;
    gap: 24px;
}

.eta {
    display: flex;
    align-items: center;
    color: var(--textColorMuted);
}