@keyframes slideUpAndFade {
  from {
    opacity: 0;
    transform: translateY(2px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}


.helpButton {
    border-radius: 100%;
    background: #e9d5ff;
    color: #4c1d95;
    width: 42px;
    height: 42px;
    border: none;
    position: fixed;
    bottom: 24px;
    right: 24px;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}

.helpButton:focus {
    outline: none;
}

.popoverContent {
  box-sizing: border-box;
  border-radius: 6px;
  padding: 24px;
  width: 260px;
  background-color: white;
  box-shadow:   0px 0.8px 2.7px rgba(0, 0, 0, 0.012),
  0px 2px 6.9px rgba(0, 0, 0, 0.018),
  0px 4.1px 14.2px rgba(0, 0, 0, 0.022),
  0px 8.4px 29.2px rgba(0, 0, 0, 0.028),
  0px 23px 80px rgba(0, 0, 0, 0.04);
  animation-duration: 400ms;
  animation-timing-function: cubic-bezier(0.16, 1, 0.3, 1);
  will-change: transform, opacity;
  transition: width 300ms ease, height 300ms ease;
  height: 218px;
}

.popoverContentLarge {
  height: 378px;
  width: 330px;
}

.popoverContent:focus {
    outline: none;
}

.popoverContent[data-state='open'] {
  animation-name: slideUpAndFade;
}

.popoverArrow {
  fill: white;
}

.popoverTitle {
  color: #262F40;
  font-weight: 500;
  font-size: 1.05rem;
  margin-bottom: 8px;
}

.popoverNudge {
  color: #626B7F;
  margin-bottom: 16px;
  font-size: 0.8rem;
}

.linkRow {
  display: grid;
  grid-template-columns: 16px 1fr;
  gap: 8px;
  padding: 8px 8px;
  cursor: pointer;
  text-decoration: none;
  font-weight: 500;
  color: inherit;
  border-radius: 4px;
  margin: 0 -8px 1px;
}

.linkRow:hover {
  background: #f3e8ff;
  color: #6d28d9;
}

.linkRowIcon {
  display: flex;
  justify-content: center;
  align-items: center;
}