.input {
    box-shadow: var(--inputBoxShadow);
    color: var(--textColor);
    background: var(--inputBackground);
    border-radius: 8px;
    padding: 6px 12px;
    outline: none;
    border: none;
    display: block;
    width: 100%;
    font-size: 13px;
    line-height: 24px;
}

.input::placeholder {
    color: var(--textColorMuted);
}

.input:hover {
    box-shadow: var(--inputBoxShadowHover);
}

.input:focus {
    box-shadow: var(--inputBoxShadowFocus);
}