@font-face {
  font-family: 'Circularpro book';
  src: url('https://assets.website-files.com/6347244ba8d63489ba51c08e/6347244ba8d634111651c0ca_CircularPro-Book.otf') format('opentype');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

*, *::before, *::after {
  box-sizing: border-box;
}

* {
  margin: 0;
}

html, body {
  height: 100%;
}

body {
  -webkit-font-smoothing: antialiased;
  color: #25252d;
  font-size: 14px;
}
 
img, picture, video, canvas, svg {
  display: block;
}
 
input, button, textarea, select {
  font: inherit;
}
 
p, h1, h2, h3, h4, h5, h6 {
  overflow-wrap: break-word;
}
 
#root, #__next {
  isolation: isolate;
  display: flex;
  flex-direction: column;
  height: 100%;
}