@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500&display=swap');

*, *::before, *::after {
  box-sizing: border-box;
}

* {
  margin: 0;
}

html, body {
  height: 100%;
}

body {
  -webkit-font-smoothing: antialiased;
  background: var(--background);
  color: var(--textColor);
  font-size: 14px;
  font-weight: 400;
  font-family: 'Inter', sans-serif;
}
 
img, picture, video, canvas, svg {
  display: block;
}
 
input, button, textarea, select {
  font: inherit;
}
 
p, h1, h2, h3, h4, h5, h6 {
  overflow-wrap: break-word;
}
 
#root, #__next {
  isolation: isolate;
  display: flex;
  flex-direction: column;
  height: 100%;
}

:root {
  --background: #222128;
  --textColor: #FFFFFF;
  --textColorMuted: #BDBCBE;
  --inputBackground: #1b1a1f;
  --inputBackgroundSelected: #4747eb;
  --inputBoxShadow: 0 0 0 1px #cdccda1f inset;
  --inputBoxShadowHover: 0 0 0 1px #aaaac73d inset;
  --inputBoxShadowFocus: 0 0 0 2px #4747eb;
}