.container {
  padding: 0 36px;
  background: #f1eeec;
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.main {
  padding: 36px;
  background: #fff;
  min-width: 450px;
  max-width: 800px;
  border-radius: 16px;
  color: #222;
  border: 1px solid #ddd;
}

.main h1 {
  font-size: 28px;
}

.main h2 {
  font-size: 22px;
}

.input,
.textarea {
  width: 100%;
  font-family: inherit;
  line-height: 1;
  background: #fff;
  border: 1px solid #ddd;
  color: #222;
  box-sizing: border-box;
  border-radius: 3px;
  resize: vertical;
  outline: none;
  padding: 12px;
}

.label {
  display: block;
  font-size: 14px;
  color: #666;
  margin-bottom: 8px;
}

.formfield {
  margin-bottom: 16px;
}

.button {
  display: block;
  border: none;
  box-sizing: border-box;
  font-family: inherit;
  font-size: inherit;
  line-height: inherit;
  cursor: pointer;
  position: relative;
  outline: none;
  border-radius: 3px;
  background: #000;
  color: #fff;
  padding: 8px 12px;
  font-size: 14px;
}

.button[disabled] {
  background: #676767;
}

.error-box {
  background: rgb(118, 19, 19);
  color: #fff;
  padding: 36px;
}
